<p-card title="Вход в систему" subtitle="Welcome to 'PrmDesign'" [style]="{width: '660px', float: center }" styleClass="ui-card-shadow">
  <!-- <p-card title="Advanced Card" subtitle="Subtitle" [style]="{width: '360px'}"> -->
    <!-- <p-card title="Вход в систему" subtitle="Welcome to 'PrmDesign'" [style]="{width: '660px', align: center}" styleClass="ui-card-shadow"> -->
      
  <p-header>
    <img src="Card" src="assets/showcase/images/usercard.png">
  </p-header>
  
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
    quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!</div>

  <p-footer>
      <!-- <p-button label="Вход" icon="fa-sign-in" style="float: center"></p-button> -->
    <button pButton type="button" label="Отказ" icon="fa-sign-in" style="float:right;" (click)="cancel()"></button>
    <button pButton type="button" label="Вход" icon="fa-sign-in" style="float: left"></button>
      <!-- <button pButton type="button" label="Отказ" icon="fa-sign-in" style="float:right;"></button> -->
      <!-- <button pButton type="button" label="Cancel" icon="fa-close" class="ui-button-secondary"></button> -->
  </p-footer>
  
</p-card>